<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SaluberMD</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>SaluberMD would like to use bluetooth to stay connected to other medical devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>SaluberMD would like to use bluetooth to connect to other medical devices.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>SaluberMD would like to know your position in order to show you medical structures near to you.</string>
	<key>NSCameraUsageDescription</key>
	<string>SaluberMD would like to use the camera in order to use the videocall feature and for take photo for attachments.</string>
	<key>NSContactsUsageDescription</key>
	<string>SaluberMD would like to use the Contacts in order to use the videocall feature.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>SaluberMD would like to use your face ID to login inside the app.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>SaluberMD needs read access to add health data to PMR.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>SaluberMD needs write access in order to add data acquired from medical devices.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SaluberMD would like to know your position in order to show you medical structures near to you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>SaluberMD would like to know your position in order to show you medical structures near to you.</string>
	<key>NSLocationUsageDescription</key>
	<string>SaluberMD would like to know your position in order to show you medical structures near to you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SaluberMD would like to know your position in order to show you medical structures near to you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SaluberMD would like to use the microphone in order to use the videocall feature.</string>
	<key>NSMotionUsageDescription</key>
	<string>SaluberMD would like to use Motion to connect to other medical devices.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SaluberMD would like to store and access to your photos in order to upload and show them during the doctor visit.</string>
	<key>NSSiriUsageDescription</key>
	<string>SaluberMD would like to use your to Siri inside the app.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>SaluberMD would like to use your to Speech recognition inside the app.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Loraa-Bold.ttf</string>
		<string>Loraa-BoldItalic.ttf</string>
		<string>Loraa-Italic.ttf</string>
		<string>Loraa-Medium.ttf</string>
		<string>Loraa-MediumItalic.ttf</string>
		<string>Loraa-Regular.ttf</string>
		<string>Loraa-SemiBold.ttf</string>
		<string>Loraa-SemiBoldItalic.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Calistoga-Regular.ttf</string>
		<string>Kastelov - NolanNext-Light.otf</string>
		<string>Nabila.ttf</string>
		<string>FontAwesome5_Pro_Brands.ttf</string>
		<string>FontAwesome5_Pro_Light.ttf</string>
		<string>FontAwesome5_Pro_Regular.ttf</string>
		<string>FontAwesome5_Pro_Solid.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>SaluberMD would like to use Music to connect to other medical devices.</string>
</dict>
</plist>
